

  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  }

/* html{scroll-behavior: smooth;
} */

/* Shape */

body .shape-01{
   position: absolute;
   height: 30px;
   width: 30px;
   border: 3px solid pink;
   right: 1%;
   top: 25%;
   animation: Animation1 5s linear infinite;
   }
   
   
   @keyframes Animation1{
   0%{
       transform: rotate(0deg);
   }
   100%{
       transform: rotate(360deg);
       }
   }


/* .logo{
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: left;
} */
/* 
.logo img{
   width: 150px;
   float: left;
   padding-left: 5%;
   padding-top: 2%;
   opacity: 80%; 
}   */


   .headings{
      font-size: 40px;  
      text-align: center;
      /* margin: 40px 0px; */
      color: rgb(142, 240, 253);
      /* background-color: rgba(0, 0, 0, 0.7); */
      /* font-family: 'Nosifer', cursive; */
   }

  /* Navbar */

.navbar{
   display: flex;
   justify-content: right;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   position: sticky;
   top: 0;
}
.navbar ul{
   /* float: right; */
   display: flex;
   list-style: none;
   margin: 20px 50px;
}
.navbar ul li{
   font-family: Verdana;
   font-size: 20px;
   font-weight: bold;
}
.navbar ul li a{
   text-decoration: none;
   color: whitesmoke;
   padding: 8px 25px;
   transition: all .5s ease;
}
.navbar ul li a:hover{
   background-color: powderblue;
   color: black;
   box-shadow: 0 0 10px white;
}      

/* Home-Section */

#Home{
   display:flex;
   flex-direction: column;
   /* background-color: rgba(0, 0, 0, 0.5);  */
   height: 835px;
   justify-content: center;
   align-items: center;
   color: black;
}

#Home::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   background-image: url("Images/Home.jpg");
   background-size: cover;
   background-position: center; 
   height: 900px; 
   width:100%;
   z-index: -1;
   /* opacity: 0.9; */
}

.main{
   display: flex;
   flex-direction: column;
   /* border: 1px solid black;  */
   align-items: center;
   position: absolute;
   top: 60%;
   left: 35%;
}

.title{
   font-family: 'Tourney', cursive;
   font-size: 90px;  
   text-align: center;
   color: whitesmoke;

}

P.container{
   font-family: 'Tourney', cursive;
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   color: whitesmoke;
}

/* About Section */

 #About{ 
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   /* align-items: center;
   padding: 10px; */
 } 


#About::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),
    url("Images/About2.jpg");
   background-size: cover;
   background-position: center; 
   height: 765px; 
   width:100%;
   z-index: -1;
}



#pic{
   display: flex;
   flex-direction: column;
   background-size: cover;
   background-position: center; 
   height: 700px; 
   width: 100%;

}

#intro{
   /* display: flex;
   flex-direction: column;
   flex-wrap: wrap; */
   font-size: 30px;
   color: white; 
   margin:2%;
}

#intro p{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-top: 7%;
   text-align: center;  
   font-weight: bold;  
   font-size: 20px;   
   color: whitesmoke;
   margin: 2%;
   /* opacity: 0.9; */
}

/* About1 */

#About1{
   /* display:flex; */
   /* flex-direction: column; */
   background-color: rgba(0, 0, 0, 0.8); 
   background-size: cover;
   background-position: center; 
   height: 100%;
   justify-content: center;
   align-items: center;
   color: black;
   

}


.Container1{
   width: 1280px;
   /* width: 100%; */
   /* min-height: 500px;  */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 8%;
  
}

.Container1 .box{
   position: relative;
   width: 300px;
   height: 350px;
   background: rgba(0, 0, 0, 0.1);
   margin: 10px;
   box-sizing: border-box;
   display: inline-block;
   margin-bottom: 100px;
   margin-top: 5%;
 

}

.Container1 .box .imgBox{
   position: relative;
   overflow: hidden;
   /* margin-top: 4%; */

}

.Container1 .box .imgBox img{
   /* justify-content: baseline;
   justify-content: space-around; */
   max-width: 100%;
   transition: transform 2s; 
  
 
}

.Container1 .box:hover .imgBox img{
   transform: scale(1.2);
}

.Container1 .box .details{
   position: absolute;
   top: 10px;
   left: 10px;
   bottom: 10px;
   right: 10px;
   background: rgba(0, 0, 0, 0.5);
   transform: scaleY(0);
   transition: transform .5s;
}
.Container1 .box:hover .details{
   transform: scaleY(1);
}

.Container1 .box .details .content{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   text-align: center;
   padding: 15px;
   color: whitesmoke;
   font-size: 25px;
   font-family: Georgia;
}
/*Services*/

#Services{
   display:flex;
   flex-direction: column;
   justify-content: center;
   /* background-color: rgba(5, 5, 5, 0.8); */
   color: whitesmoke; 
   align-items: center;
   
}


#Services::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   background-color: rgba(5, 5, 5, 0.8);
   background-size: cover;
   background-position: center; 
   height: 870px;
   width:100%;
   z-index: -1;
  
}




.gallery{
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: center;
}

.gallery img{
   width: 360px;
   height: 280px; 
}

h3{
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   color: whitesmoke;
   font-family: 'Tourney', cursive;
}
h5{
   text-align: center;
   font-size: 20px;
   color: whitesmoke;
   /* font-family: 'Tourney', cursive; */
  
}

/*Contact */


/* #Contact{
   height: 800px;
   display: grid;
   align-items: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background: url("Images/Sky.jpg"); 
   background-size: cover;
   opacity: 0.9;
   
 } */


 #Contact::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   height: 800px;
   display: grid;
   background: url("Images/Sky.jpg"); 
   /* background-image: url("Images/Home.jpg"); */
   background-size: cover;
   background-position: center; 
   /* height: 900px;  */
   width:100%;
   z-index: -1;
   /* opacity: 0.9; */
}
   
.Contact-wrap{
   width: 80%;
   height: 650px;
   margin: auto;
   display: flex;
   flex-direction: wrap;
   overflow: hidden;
}

.Contact-in{
   padding: 40px 30px;
}

.Contact-in:nth-child(1){
   flex: 30%;
   background: rgba(0, 0, 0, 0.9);
   color: whitesmoke;
}

.Contact-in:nth-child(2){
   flex: 45%;
   background: rgba(0, 0, 0, 0.9);
}

.Contact-in:nth-child(3){
   flex: 25%;
   padding: 0;
}

.Contact-in h1{
   font-size: 26px;
   /* color:skyblue; */
   text-transform: uppercase;
   font-weight: 500;
   margin-bottom: 20px;
   /* color: paleturquoise;
   color: lightpink;
   color:powderblue;
   color:plum; */
   color:mediumturquoise;
   font-family: 'Tourney', cursive;

}

.Contact-in h2{
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 15px;
   color: thistle;
   
   
 
}

.Contact-in h2 i{
   font-size: 16px;
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background: yellow;   
   color: pink;
   border-radius: 50px;
   line-height: 40px;
   text-align: center;
}

.Contact-in p{
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 20px;
   color: whitesmoke;
   

}
.Contact-in form{
   width: 100%;
   height: auto;
}

.Contact-in-input{
   width: 100%;
   height: 40px;
   margin-bottom: 20px;
   border: 1px solid lavenderblush;
   outline: none;
   padding-left: 5px;
   background: transparent;
   color: whitesmoke;
   font-size: 12px;
   font-weight: 300;
   font-family: Verdana;
}

.Contact-in-input::placeholder{
   color: lavender;
}

.Contact-in-textarea{
   width: 100%;
   height: 140px;
   margin-bottom: 20px;
   border: 1px solid lavenderblush;
   outline: none;
   padding-top: 5px;
   padding-left: 5px;
   background: transparent;
   color: whitesmoke;
   font-size: 12px;
   font-weight: 300;
   font-family: Verdana;
}

.Contact-in-textarea::placeholder{
   color: lavenderblush;
}

.Contact-in-btn{
   width: 100%;
   height: 40px;
   border: 1px solid lavenderblush;
   outline: none;
   background: transparent;
   color: whitesmoke;
   font-size: 12px;
   font-weight: 300;
   font-family: Verdana;
   cursor: pointer;
}
            
.Contact-in-btn:hover{
   cursor: pointer;
   box-shadow: 0 0 10px rgb(203, 203, 248);
   background-color: rgba(112, 220, 247, 0.973);
}

.Contact-in iframe{
   width: 450px;
   height: 400px;
}

                                                                                                                                                                                                                                       
                                                                                                                                                                                                                     
/* Media Gallery */

#Media-Gallery{
   /* background-color: rgba(0, 0, 0, 0.8); */
   /* display: flex; */
   justify-content: center;
   

}

#Media-Gallery::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
   background-size: cover;
   background-position: center; 
   height: 6000px; 
   width:100%;
   z-index: -1;
}

.Memories{
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: center;
}
.videogallery{
   box-sizing: border-box; 
   justify-content: center;
   margin-left: 15px;
}
.videogallery iframe{
   width: 700px;
   height: 600px;
   margin: 20px;

}

/* Phrase */

#Phrase{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   background-color: rgba(0, 0, 0, 1);
   width: 100%;
   height: 800px;
}
.Quote11 img{
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 700px;
   height: 600px;
   margin-left: 800px;
   margin-top: 60px;
   opacity: 0.5;
}
.Quote{
   display: flex;
   flex-direction: column;
   color: whitesmoke;
   text-align: left;
   padding-top: 25%;
   margin-left: 4%;
}

 p.Phrase1{
   font-size: 30px;
   font-weight: bold;
   font-family: Geneva;
   
 }

 h2{
   font-size: 25px;
   font-weight: lighter; 
   margin-left: 2%;
 }



   





